@using MvcPaging;

@model IPagedList<Tienda.Models.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = LocalResources.Resources.tituloListado;
}

<div class="row">
    <div class="col-8">
        <div class="card shadow">
            <div class="card-header">
                <div class="card-title">
                    <h4 class="user-select-none">@LocalResources.Resources.tituloListadoProductos</h4>
                </div>
            </div>
            <div class="card-body">
                 @using (Html.BeginForm("generarTickect", "List", new { page = Model.PageNumber},FormMethod.Post))
                 {
                <div id="list" class="overflow-auto mb-3">
                    <ul class="list-group">
                        @foreach (var producto in Model)
                        {
                            <li class="list-group-item user-select-none">@Html.CheckBox(producto.ProductoId.ToString(), new { @class = "d-none cbx" }) @producto.Descripcion</li>
                        }
                    </ul>
                    <nav>
                        <ul class="pagination">
                            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        </ul>
                    </nav>
                </div>
                 <input type="submit" value="@LocalResources.Resources.sacarTicketBtn" class="btn btn-dark"/>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card shadow">
            <div class="card-header">
                <div class="card-title text-center">
                    <h4 class="user-select-none">@LocalResources.Resources.tituloBuscar</h4>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("FindProduct", "List", FormMethod.Post))
                {
                    @Html.TextBox(LocalResources.Resources.buscarText, null, new { @class = "form-control mb-4", autocomplete = "off" })

                    <input type="submit" value="@LocalResources.Resources.buscarText" class="btn btn-dark" />
                }
            </div>
        </div>
    </div>
</div>